
NEXT_PUBLIC_SUPABASE_URL=https://jyttvmfssxtyajqlzlfh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3b-HNqQbE72BjWXF7bOZpw_XzWUlY0-
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5dHR2bWZzc3h0eWFqcWx6bGZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NjQ0MzQsImV4cCI6MjA5NDQ0MDQzNH0.OJ3TJAHOLECFg8Xg9JbWw5ZEzVnUfJGWbnu6rpVBMWo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5dHR2bWZzc3h0eWFqcWx6bGZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg2NDQzNCwiZXhwIjoyMDk0NDQwNDM0fQ.xjpHGU3lzL4NeXELY66PMzr-UJa4wu_wvvdk5z3I7D0


NEXT_PUBLIC_SITE_URL=http://localhost:3000


NEXT_PUBLIC_SUPABASE_BUCKET=village-media


ADMIN_NOTIFY_EMAIL=atifjan2019@gmail.com
RESEND_API_KEY=


NEXT_PUBLIC_VILLAGE_LAT=34.1453
NEXT_PUBLIC_VILLAGE_LNG=71.7308
NEXT_PUBLIC_VILLAGE_ZOOM=15

